<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Golden Globe Winners</title>
	    <style>
	  		#winner{color: red;}
	  		.winner{color: red;}
	  		#real_winner{color: green;}
	  		.real_winner{color: green;}
	  		body {font-size: 18px;}
	  		#changing{margin-left: 20px; margin-right: 10px;}
	  	</style>
		<!-- Bootstrap -->
    	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
    	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    	<![endif]-->
  	</head>
	<body>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Golden Globes Predictor</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      	<li><a href="predictor_winner">Winners</a></li>
		        <li><a href="sentiment">Sentiment Graph</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div id="changing">
			{% if winners %}
			    <div id="award_winners">
			    	<div id="heading">
			    		<p><h1>Golden Globe Confidence Predictor With Winners</h1></p>
			    		<p>For the winners, when our algorithm found the correct winner, we marked it in <span class="real_winner">green</span> but if we got the wrong answer, we marked it in <span class="winner">red</span>.
			    	</div>
					<ol>
						{% for award, noms in winners.iteritems(): %}
							
							<li id='award'>{{ award }}</li>
							<ul>
								{% for category, value in noms.iteritems(): %}
									{% if category == "Nominees" %}
										{% for name, number in value.iteritems(): %}
										<ul><li>{{ name }}:  {{ number*100 }}%</li></ul>
										{% endfor %}
									{% endif %}
								{% endfor %}
								{% if category == "winner" %}
									<li id='winner'>Predicted Winner:  {{ value }}</li>
								{% endif %}
								{% if noms["correct"] %}
									<li id='real_winner'>Predicted Winner:  {{ noms["winner"] }}</li>
								{% endif %}
								{% if noms["correct"]==False %}
									<li id='winner'>Predicted Winner:  {{ noms["winner"] }}</li>
								{% endif %}
							</ul></br>
						{% endfor %}
					</ol>
			  	</div>
			{% if pageScroll == 1 %}
				<h1>Sentiment</h1>
				<h3>For this graph, we used TextBlob to find the sentiment of the tweets. A higher number means the tweets were generally happier. We marked the three 'happiest' momemnts of the Golden Globes</h2>
				<img src="../static/Sentiment_Graph.png" alt="Smiley face">
			{% endif %}
			{% if pageScroll == 0 %}
				<h1>Hello World</h1>
			{% endif %}
		</div>

		{% elif sentiment %}
		<h1>Sentiment</h1>
		<img src="../static/Sentiment_Graph.png" alt="Smiley face">

		{% elif snubs %}
    <div class="container">
      <div class="row">
        <h1>Snubbed Movies and Shows 2015</h1>
        {% for award, data in snubs.iteritems() %}
          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                  {{ award }}

                </div>
              </div>
              <div class="panel-body">
              <dl class="dl-horizontal">
                {% for name, value in data["Nominees"].iteritems() %}
                  <dt>{{ name }}</dt>
                  <dd>{{ value }}</dd>
                {% endfor %}
              </dl>
              <strong>Total tweets:</strong>  {{ data["total"] }}
            </div>
            {% if "article" in data %}
              <div class="panel-footer">
                <a href={{ data["article"] }}>Reference</a>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
		{% endif %}


	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
